@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap');
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Noto Sans HK', sans-serif;
  background: #fff;
}
.client-slider {
  position: relative;
}
.client-slider .owl-item.active.center .slider-card {
  padding: 50px 52px 39px;
  max-width: 445px !important;
  transform: scale(0.9);
  opacity: 1;
  background: #ffffff;
  color: #454545;
}

/* .leftalign{
  position:relative;
  left: 2%;
}

.centeralign{
  position: relative;
  right: 1%;
  z-index: 1;
}
.rightalign{
  position:relative;
  right: 2%;
} */


.client-slider .owl-item.active.center h5{
  font-size: 24px !important;
  margin-bottom: 18px !important;
  letter-spacing: 0 !important;
}

.client-slider .owl-item.active h5{
  font-size: 22px !important;
  margin-bottom: 9px !important;
  letter-spacing: 0 !important;
}

.client-slider .owl-item.active.center p{
  font-size: 18px !important;
  line-height: 27px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.client-slider .owl-item.active p{
  font-size: 16px !important;
  line-height: 27px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.slider-card {
  padding: 50px 52px 39px;
  max-width: 445px !important;
  background: #f6f7f9;
  border-radius: 5px;
  box-shadow: 0 0 20px rgb(0,0,0,0.05);
  transform: scale(0.75);
  transition: all 0.3s;
}

.owl-carousel .owl-item img {
  display: block;
  width: 120px !important;
  border-radius: 50px !important;
  margin: 0 0 47px;
}

.owl-nav .owl-prev {
  position: absolute;
  top: calc(50% - 25px);
  left: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}
.owl-nav .owl-next {
  position: absolute;
  top: calc(50% - 25px);
  right: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}

.owl-nav .owl-next .fa.fa-angle-right::before{
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-right: 5px;
  content: "";
  background: url("../images/arrow-right.svg") no-repeat 0 0;
  background-size: 100%;
}

.owl-nav .owl-prev .fa.fa-angle-left::before{
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-left: 5px;
  content: "";
  background: url("../images/arrow-right.svg") no-repeat 0 0;
  background-size: 100%;
  transform: rotate(180deg);
}


/* @media (min-width:475px){
  .slider-card {
    padding: 50px 52px 39px;
    max-width: 445px !important;
    background: #f6f7f9;
    border-radius: 5px;
    box-shadow: 0 0 20px rgb(0,0,0,0.05);
    transform: scale(0.75);
    transition: all 0.3s;
  }
  .owl-item.active.center .slider-card {
    padding: 50px 52px 39px;
    width: 445px !important;
    min-height: 550px !important;
    background: #f6f7f9;
    border-radius: 5px;
    box-shadow: 0 0 20px rgb(0,0,0,0.05);
    transform: scale(0.75);
    transition: all 0.3s;
  }
} */

@media (max-width:475px){
  
  .owl-nav .owl-prev {
    position: absolute;
    top: 92%;
    left: 35%;
    opacity: 1;
    font-size: 30px !important;
    z-index: 1;
  }
  .owl-nav .owl-next {
    position: absolute;
    top: 92%;
    right: 35%;
    opacity: 1;
    font-size: 30px !important;
    z-index: 1;
  } 
  
  /* .leftalign{
    position:static;
  }
  .rightalign{
    position:static;
  }
  .client-slider .owl-item.active.center .slider-card {
    padding: 50px;
  } */
}