@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container{
    max-width: 1134px !important;
}

.btn-primary,.bg-primary{
    background-color:#004dff !important;
}

.btn-success{
    background-color: #1dc679 !important;
}

.btn-warning{
    background-color: #ff9f00 !important;
}

header.navbar{
    padding: 40px 165px;
}

.navbar .navbar-nav > .nav-item > .nav-link{
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 0 19px;
}

.d-flex  .d-lg-block > .nav-link:nth-of-type(1) {
    margin-right: 23px;
    padding: 0  !important;
}



section.bg-primary{
    background-image: url("../images/background.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.collapse.navbar-collapse{
    text-align: center;
}

span > a.nav-link.text-white{
    font-weight: 600;
    font-size: 24px;
}

/* arrow  */

form{
    background-color: #ffffff;
    border-radius: 12px 12px 12px 12px;
}

p.select{
    width: 70%;
    line-height: 30px;
    padding: 10px 0;
    margin: 0 0 0 10px !important;
    border-radius: 12px 0 0 12px;
    color:#454545;
    font-size: 14px !important;
    border: none;
    display: inline-block;
    position: relative;  
}

.dropdown-content p {
    margin: 20px !important;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    color :#454545;
    border-radius: 6px;
    margin-top: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0 12px;
    z-index: 1;
}


p.select + img{
    margin-right: 10px;
}

.group1{
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
}

.group1:hover{
    cursor: pointer;
}

.search{
    border-radius: 0;
    border-top: none;
    border-right: none;
    border-bottom: none;
    font-weight: 100;
    background-color: #ffffff;
    color: #2e46e3;
}

.search:before{
    margin-left: 27px;
    margin-right: 17px;
    padding: 0;
    width:18%;
}

.group1{
    width: 150px;
}

.group2{
    width: 485px;
}

input.keyword{
   display: inline-block;
   width: 82%;
   height: 50px; 
   padding: 10px 0;
   border: none;
   color: #454545;
   border-radius: 12px;
}

input.keyword::placeholder{
    color: #454545;
    font-size:14px;
}
input.keyword:focus{
    outline: none;
}

section.properties{
    padding: 96px 0 50px;
}

.properties ul{
    list-style: none;
}

.properties a{
    text-decoration: none;
    margin-top: 31px;
    padding: 0 15px;
}

.properties li{
    width: 350px;
}

.properties li > img{
    width: 350px;
    border-radius: 5px 5px 0 0;
}

.properties .card-body{
    border: 1px solid #f0f0f1;
    border-top: none;
    padding: 19px 43px 26px 20px;
    border-radius: 0 0 5px 5px;
}

.properties .card-body h5{
    font-size: 18px;
    color: #454545;
    margin-bottom: 4px;
}

.properties .card-body h6{
    font-size: 18px;
    color: #004dff;
    margin-bottom: 4px;
}

.properties .card-body p{
    font-size: 14px;
    color: #454545;
    margin-bottom: 11px;
}
.properties .card-body span{
    font-size: 14px;
    color: #454545;
    margin-right: 8px;
}

.properties .card-body span:nth-of-type(3){
    margin-right: 0;
}

.properties .card-body span:nth-of-type(1)::before{
    content: url("../images/bed.svg");
    width: 30px;
    margin-right:10px;
}   
.properties .card-body span:nth-of-type(2)::before{
    content: url("../images/bathtub.svg");
    width: 30px;
    margin-right:10px;
    
}
.properties .card-body span:nth-of-type(3)::before{
    content: url("../images/sq.svg");
    width: 30px;
    margin-right:10px;
}


a.all-properties{
    width: 149px;
    line-height: 50px;
}

section.contact{
    padding-top: 50px;
    padding-bottom: 100px;
}

.contact ul{
    list-style: none;
    padding: 0 ;
}

.contact li{
    width: 540px;
}

.contact li:nth-of-type(1){
    background-color: #f6f7f9;
    padding: 46px 124px 60px 50px;
    /* margin-right: 15px; */
    border-radius: 5px;
}

.contact li:nth-of-type(1) h2{
    font-size: 44px;
    color: #004dff;
    margin-bottom: 14px;
}

.contact li:nth-of-type(1) p{
    font-size: 18px;
    color: #454545;
    margin-bottom: 19px;
}

.contact li:nth-of-type(1) p:nth-of-type(3){
    margin-bottom: 0;
}

.contact li:nth-of-type(2){
    background-color: #004dff;
    color: #ffffff;
    padding: 46px 160px 50px 50px;
    /* margin-left: 15px; */
    border-radius: 5px;
}

.contact li:nth-of-type(2) h2{
    font-size: 44px;
    margin-bottom: 14px;
}

.contact li:nth-of-type(2) p{
    font-size: 16px;
    margin-bottom: 26px;
}

.contact li:nth-of-type(2) a{
    font-size: 14px;
    line-height: 50px;
    color: #ffffff;
    text-decoration: none;
    width: 134px;
    background-color: #1dc679;
    padding: 0 15px;
}
/* .contact > .container .card.card-bg-gray{
    max-width: 540px;
    background-color: #f6f7f9;
}

.contact > .container .card.card-bg-gray h5{
    max-width: 366px;
    max-height: 120px;
}

.contact > .container .card.bg-primary{
    max-width: 540px;
    height: 350px;
}

.contact > .container .card.bg-primary h5{
    max-width: 264px;
    max-height: 120px;
}

.card.card-bg-gray > .card-body > h5.card-title-information,
.card > .card-body > h5.card-title-information{
    font-size: 44px;
}

.card.card-bg-gray > .card-body p{
    font-size: 18px;
    color: #454545;
    font-weight: 400;
}

.card > .card-body  a.btn-success{
    font-size: 14px;
    width: 134px;
    height:50px;
    padding: 13px;
}

a.btn-primary.contact-us{
    font-size: 14px;
    width: 114px;
    height: 50px;
    padding:13px;
} */

.details-section{
    background:url('../images/house.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 700px;
}

.card-text-details > span{
    margin-right: 10px !important;
}

.card-text-details > span:nth-of-type(1):before{
    content: url("../images/bed.png") ;
    width: 20px;
    height: 16px;
    margin-right: 10px;
}

.card-text-details > span:nth-of-type(2):before{
    content: url("../images/bathtub.png") ;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.card-text-details > span:nth-of-type(3):before{
    content: url("../images/sq_feet.png") ;
    width: 17px;
    height: 17px;
    margin-right: 10px;
}

.card > .card-body > .btn-warning + .card-title{
    font-size: 32px;
    color: #000000;
    letter-spacing: -1px;
}

.card > .card-body > .btn-warning + .card-title + .card-rate{
    font-size: 24px;
}

.card > .card-body > .btn-warning + .card-title + .card-rate + .card-text-address,
.card > .card-body .user-details > p{
    font-size: 18px;
    color: #454545;
}

.card > .card-body > .btn-warning span{
    font-size: 14px;
    color: #454545;
}

 span{
    font-size: 14px;
    color: #454545;
    opacity: 70%;
}

.slider > h2{
    color: #000000;
    font-size: 32px;
    letter-spacing: -1px;
}

.btn-primary.rounded-pill{
    font-size: 14px;
}

.carousel-control-next-icon {
    background-image: url("../images/arrow-right.svg");
}

.carousel-control-prev-icon {
    background-image: url("../images/arrow-right.svg");
    transform: rotate(180deg);
}

.carousel-inner > .carousel-item .card{ 
    max-width: 445px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}

.carousel-inner > .carousel-item .card h2{ 
    color: #454545;
    font-size: 24px;
}

.carousel-inner > .carousel-item .card p{ 
    color: #454545;
    font-size: 18px;
    line-height: 27px;
}

h5.card-title.mt-5.mb-4{
    line-height:0 !important;
}

img.rounded-circle{
    border-radius: 45px !important;
}

img.small{
    border-radius: 20px !important;
}

footer{
    background-color: #f6f7f9;
    padding: 49px;
}

footer img{
    margin-bottom: 29px;
}

footer p{
    font-size: 14px;
    color: #454545;
    line-height: 24px;
}

.text-left{
    text-align: left !important;    
} 

.text-left > p{
    font-size: 18px;
    color: #454545;
    font-weight: 400;
}

.text-left > p + span{
    font-size: 14px;
    color: #454545;
    font-weight: 400;
    opacity: 70%;
}

footer p{
    max-width: 730px;
}

.slider .carousel-inner carousel-item{
    display: inline-block;
    margin-right: 0 !important;
    transition: none !important;
}

section.bg-primary{
    position: relative;
}

.hero{
    color: #ffffff;
    position: relative;
    width: 100%;
    top: calc(50% - 112px);
    transform: translateY(-50%);
    padding: 0 12px;
    margin: 0 auto;
}

.hero .hero-content{
    max-width: 635px;
}

.hero .hero-content h1{
    font-size: 44px;
    margin: 0 0 9px;
}

.hero .hero-content p{
    font-size: 18px;
    margin:0 0 40px;
}

/* tablet - md */

@media (max-width: 768px) and (min-width: 576px) { 

    .card.card-bg-gray > .card-body > h5.card-title-information,
    .card > .card-body > h5.card-title-information{
        font-size: 28px;
    }

    .card.card-bg-gray > .card-body p{
        font-size: 14px;
        color: #454545;
        font-weight: 400;
    }
}

/* small - sm */

@media (max-width: 576px) {
        
    .card.card-bg-gray > .card-body > h5.card-title-information,
    .card > .card-body > h5.card-title-information{
        font-size: 24px;
    }
    
    .card.card-bg-gray > .card-body p{
        font-size: 14px;
        color: #454545;
        font-weight: 400;
    }

    .text-left{
        text-align: center !important;    
    }    

}

form{
    display: flex;
    flex-direction: row;
}

@media (min-width: 1441px) { 
    section.bg-primary{
        height: 568px;
    }    
}

@media screen and (max-width: 520px) { 
    form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .group1{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .group1{
        width: 100%;
    }
    .group2{
        width: 100%;
    }

    p.select{
        width: 80%;
        margin-left: 20px !important;
    }

    .dropdown-img{
        margin-right: 20px !important;
    }

    p.select + img{
        margin: 0;
    }

    .search:before{
        width: 10%;
        margin-left: 20px; 
        margin-right: 0;
        padding: 0;
    }

    input.keyword{
        width: 85%;
        padding: 10px 0;
        margin-left: 5px;
    }

    .hero-content h1{
        font-size: 32px !important;
    }
    
    .hero-content p{
        font-size: 16px !important;
    }
    .dropdown-content{
        margin-top: 50px !important;
    }
}
.navbar .navbar-collapse {
    text-align: center;
  }
@media (max-width: 1439px) { 
    header.navbar{
        padding: 40px 12px !important;
    }
    
    .hero{
        padding: 0 12px;
    }
    
}

@media (max-width: 992px) { 
    
    .navbar-toggler .d-flex a.nav-link{
        padding: 0;
        margin-right: 23px ;
    }

    .navbar-toggler .d-flex a.nav-link.heart{
        padding: 0;
        margin-right: 0 ;
    }
    
    .navbar-collapse .nav-link.home{
        margin: 75px 0 20px;
    }

    .navbar-collapse .nav-link{
        margin: 20px 0;
    }
    
    .collapse.navbar-collapse{
        height: calc(100vh - 83px);
    }

    .hero{
        color: #ffffff;
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        padding: 0 12px;
        margin: 0 auto;
    }
    
}

@media (max-width: 1079px) {
    .contact li:nth-of-type(1){
        font-size: 44px;
        margin: 0 0 15px 0;
    }

    .contact li:nth-of-type(2){
        font-size: 44px;
        margin: 15px 0 0 0;
    }    
}