@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container{
    max-width: 1134px !important;
}

.btn-primary,.bg-primary{
    background-color:#004dff !important;
}

.btn-success{
    background-color: #1dc679 !important;
}

.btn-warning{
    background-color: #ff9f00 !important;
}

header.navbar{
    padding: 40px 165px;
}

a.navbar-brand{
    margin: 0;
}

.navbar .navbar-nav > .nav-item > .nav-link{
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 0 19px;
}

.navbar .navbar-nav > .nav-item > .nav-link.home{
    margin-left: 50px;
    padding-left: 0;
}

.navbar .navbar-nav > .nav-item button,.navbar .navbar-nav > .nav-item  a.nav-link.bar{
    padding: 0;
    z-index: 100;
}
.navbar .navbar-nav > .nav-item  a.nav-link.arrow{
    padding: 0 25px;
    z-index: 100;
}

.navbar .navbar-nav > .nav-item  a.nav-link.cross{
    display: none;
}
.navbar .navbar-nav > .nav-item  a.nav-link.heart{
    padding: 0;
    z-index: 100;
}

header .d-flex .navbar-nav{
    flex-direction: row;
    align-items: center;
} 

.d-flex  .d-lg-block > .nav-link:nth-of-type(1) {
    margin-right: 23px;
    padding: 0  !important;
}


section.bg-primary{
    background-image: url("../images/background.jpg");
    height: 100vh;
    max-height: 650px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.collapse.navbar-collapse{
    text-align: center;
}

span > a.nav-link.text-white{
    font-weight: 600;
    font-size: 24px;
}

form{
    background-color: #ffffff;
    border-radius: 12px 12px 12px 12px;
}

/* toggle dropdown */

/* .show{
    display: block;
} */

.hide{
    display: none;
}

p.select{
    width: 70%;
    line-height: 30px;
    padding: 10px 0;
    margin: 0 0 0 10px !important;
    border-radius: 12px 0 0 12px;
    color:#454545;
    font-size: 14px !important;
    border: none;
    display: inline-block;
    position: relative;  
}

.dropdown-content p {
    margin: 20px !important;
    font-size: 14px !important;
}

.dropdown-content{
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    color :#454545;
    border-radius: 6px;
    margin-top: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0;
    z-index: 1;
}


p.select + img{
    margin-right: 10px;
}

.group1{
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
}

.group1:hover{
    cursor: pointer;
}

.search{
    border-radius: 0;
    border-top: none;
    border-right: none;
    border-bottom: none;
    font-weight: 100;
    background-color: #ffffff;
    color: #2e46e3;
}

.search:before{
    margin-left: 27px;
    margin-right: 17px;
    padding: 0;
    width:18%;
}

.group1{
    width: 150px;
}

.group2{
    width: 485px;
}

input.keyword{
   display: inline-block;
   width: 82%;
   height: 50px; 
   padding: 10px 0;
   border: none;
   color: #454545;
   border-radius: 12px;
}

input.keyword::placeholder{
    color: #454545;
    font-size:14px;
}
input.keyword:focus{
    outline: none;
}

section.properties{
    padding: 96px 20px 50px;
}

section.properties h2{
    font-size: 32px;
}

.properties ul{
    list-style: none;
}

.properties li{
    max-width: 350px;
    box-sizing: content-box;
}

.properties li img{
    width: 100%;
    height: 250px;
    border-radius: 5px 5px 0 0;
    object-fit: cover;
    aspect-ratio: 1/.7;
}

.properties li .card-body{
    border: 1px solid  rgba(0, 0, 0, 0.1);
    border-radius: 0 0 5px 5px;
}

.properties a{
    text-decoration: none;
    margin-top: 31px;
    padding: 0;
}

.properties .card-body{
    padding: 19px 10px 26px;
}

.properties .card-body h5{
    font-size: 18px;
    color: #454545;
    margin-bottom: 4px;
}

.properties .card-body h6{
    font-size: 18px;
    color: #004dff;
    margin-bottom: 4px;
}

.properties .card-body p{
    font-size: 14px;
    color: #454545;
    margin-bottom: 0;
}
.properties .card-body .icon-wrapper span{
    font-size: 14px;
    color: #454545;
    margin-right: 8px;
    opacity: 70%;
}

.properties .card-body span:nth-of-type(3){
    margin-right: 0;
}

.properties .card-body span:nth-of-type(1)::before{
    content: url("../images/bed.svg");
    width: 30px;
    margin-right:10px;
}   
.properties .card-body span:nth-of-type(2)::before{
    content: url("../images/bathtub.svg");
    width: 30px;
    /* margin-right:10px; */
    
}
.properties .card-body span:nth-of-type(3)::before{
    content: url("../images/sq.svg");
    width: 30px;
    margin-right:10px;
    vertical-align: bottom;
}


a.all-properties{
    width: 149px;
    line-height: 50px;
}

section.contact{
    padding: 50px 12px 100px;
}

.contact ul{
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.contact li{
    max-width: 440px;
    border-radius: 5px;
    box-sizing: content-box;
}

.contact li:nth-of-type(1){
    background-color: #f6f7f9;
    padding: 46px 50px 60px 50px;
}

.contact li:nth-of-type(1) h2{
    font-size: 44px;
    color: #004dff;
    margin-bottom: 14px;
}

.contact li:nth-of-type(1) p{
    font-size: 18px;
    color: #454545;
    margin-bottom: 19px;
}

.contact li:nth-of-type(1) p:nth-of-type(3){
    margin-bottom: 0;
}

.contact li:nth-of-type(2){
    background-color: #004dff;
    color: #ffffff;
    padding: 46px 50px 50px 50px;
}

.contact li:nth-of-type(2) h2{
    font-size: 44px;
    margin-bottom: 14px;
}

.contact li:nth-of-type(2) p{
    font-size: 16px;
    margin-bottom: 26px;
    max-width: 330px;
}

.contact li:nth-of-type(2) a{
    font-size: 14px;
    line-height: 50px;
    color: #ffffff;
    text-decoration: none;
    width: 134px;
    background-color: #1dc679;
    padding: 0 15px;
}

.sale{
    background:url('../images/house.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 700px;
    padding: 138px 0 138px 0;
}

.sale .card-body{
    padding: 50px;
}

.sale .card-body > span.btn-warning{
    margin-bottom: 27px;
    font-weight: 700;
}

.sale .card-body h5.card-title{
    font-size: 32px;
    color: #000000;
    letter-spacing: -1px;
    margin-bottom: 8px;
}

.sale .card-body h6.card-rate{
    color: #004dff;
    font-size: 24px;
    margin-bottom: 9px ;
}

.sale .card-body p.card-text-address{
    font-size: 18px;
    color: #454545;
    margin-bottom: 25px;
}

.sale .card-body .card-text span:nth-of-type(1)::before{
    content: url("../images/bed.svg");
    width: 30px;
    margin-right:15px;
}   
.sale .card-body .card-text span:nth-of-type(2)::before{
    content: url("../images/bathtub.svg");
    width: 30px;
    margin-right:5px;
    
}
.sale .card-body .card-text span:nth-of-type(3)::before{
    content: url("../images/sq.svg");
    width: 30px;
    margin-right:13px;
    vertical-align: bottom;
}

.sale .card-body .card-text span:nth-of-type(3){
    margin-right: 0;
}

.sale .card-body .card-text span{
    font-size: 14px;
    color: #454545;
    opacity: 70%;
    margin-right: 26px;
}

.sale .user-card .card-body .user-details-wrapper{
    margin-left: 20px;
}

.sale .user-card .card-body .d-flex + .col-lg-4{
    line-height: 3;
}

.sale .user-card .card-body .d-flex + .col-lg-4 > .contact-us{
    width: 114px;
    height: 50px;
    line-height: 2.5;
}

.sale .user-card{
    margin: 10px 0 0;
}

.sale .user-card .card-body{
    padding: 20px 50px;
}

.sale .user-card .card-body p{
    color: #454545;
}

.sale .user-card .card-body span{
    font-size: 14px;
    color: #454545;
    opacity: 70%;
}

.slider > h2{
    color: #000000;
    font-size: 32px;
    letter-spacing: -1px;
}

.btn-primary.rounded-pill{
    font-size: 14px;
}

.carousel-control-next-icon {
    background-image: url("../images/arrow-right.svg");
}

.carousel-control-prev-icon {
    background-image: url("../images/arrow-right.svg");
    transform: rotate(180deg);
}

.carousel-inner > .carousel-item .card{ 
    max-width: 445px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}

.carousel-inner > .carousel-item .card h2{ 
    color: #454545;
    font-size: 24px;
}

.carousel-inner > .carousel-item .card p{ 
    color: #454545;
    font-size: 18px;
    line-height: 27px;
}

h5.card-title.mt-5.mb-4{
    line-height:0 !important;
}

img.rounded-circle{
    border-radius: 45px !important;
}

img.small{
    border-radius: 20px !important;
}

footer{
    background-color: #f6f7f9;
    padding: 49px;
}

footer img{
    margin-bottom: 29px;
}

footer p{
    font-size: 14px;
    color: #454545;
    line-height: 24px;
}

footer p{
    max-width: 730px;
}

.slider .carousel-inner carousel-item{
    display: inline-block;
    margin-right: 0 !important;
    transition: none !important;
}

section.bg-primary{
    position: relative;
}

.hero .hero-content{
    color: #ffffff;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    padding: 0 12px;
}

.hero .hero-content{
    max-width: 635px;
}

.hero .hero-content h1{
    font-size: 44px;
    margin: 0 0 9px;
}

.hero .hero-content p{
    font-size: 18px;
    margin:0 0 40px;
}


.hero{
    height: calc(651px - 120px);
}

/* tablet - md */

@media (max-width: 768px) and (min-width: 576px) { 

    .card.card-bg-gray > .card-body > h5.card-title-information,
    .card > .card-body > h5.card-title-information{
        font-size: 28px;
    }

    .card.card-bg-gray > .card-body p{
        font-size: 14px;
        color: #454545;
        font-weight: 400;
    }
}

/* small - sm */

@media (max-width: 576px) {
    
    .contact li{
        max-width: 440px;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .contact li h2{
        font-size: 32px !important;
    }

    .contact li p{
        font-size: 16px !important;
    }

    .card.card-bg-gray > .card-body > h5.card-title-information,
    .card > .card-body > h5.card-title-information{
        font-size: 24px;
    }
    
    .card.card-bg-gray > .card-body p{
        font-size: 14px;
        color: #454545;
        font-weight: 400;
    }

    .text-left{
        text-align: center !important;    
    }    

}

form{
    display: flex;
    flex-direction: row;
}

@media (max-width: 1200px) { 
    .properties .d-flex{
        justify-content: center !important;
    }
}

@media (max-width: 1115px) { 
    .contact .d-flex{
        flex-direction: column !important;
        align-items: center;
    }

    .contact .d-flex li:nth-of-type(2){
        margin-top: 20px;
    }
}

@media (max-width: 768px) { 
    
    section.properties{
        padding: 50px 0 25px;
    }

}

@media (max-width: 376px) {
    .properties li {
        max-width: 350px;
        box-sizing: border-box;
    }

    section.contact{
        padding: 25px 12px 50px !important;
    }
    
    .properties li h5,
    .properties li h6{
        font-size: 16px !important;
    } 

    .properties li p{
        font-size: 12px !important;
    } 
    .properties li .icon-wrapper span{
        font-size: 12px !important;
    } 
}

@media screen and (max-width: 520px) { 
    form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .group1{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .group1{
        width: 100%;
    }
    .group2{
        width: 100%;
    }

    p.select{
        width: 80%;
        margin-left: 20px !important;
    }

    .dropdown-img{
        margin-right: 20px !important;
    }

    p.select + img{
        margin: 0;
    }

    .search:before{
        width: 10%;
        margin-left: 20px; 
        margin-right: 0;
        padding: 0;
    }

    input.keyword{
        width: 85%;
        padding: 10px 0;
        margin-left: 5px;
    }

    .hero-content h1{
        font-size: 32px !important;
    }
    
    .hero-content p{
        font-size: 16px !important;
    }
    .dropdown-content{
        margin-top: 50px !important;
    }
}
.navbar .navbar-collapse {
    text-align: center;
  }
@media (max-width: 1439px) { 
    header.navbar{
        padding: 40px 12px !important;
    }
    
    .hero{
        padding: 0 12px;
    }
    
}

@media (max-width: 992px) { 
    header, .navbar{
        position: absolute !important;
        left: 0;
        right: 0;
        top: 0;
    }
    
    .navbar-collapse + .d-flex > ul{
        width: 162px;
        justify-content: flex-end;
    }

    button[aria-expanded="true"] .bar{
        display: none;
    }
    button[aria-expanded="true"] .cross{
        display: block !important;
    }

    .navbar .navbar-nav > .nav-item a.nav-link.arrow {
        padding: 0;
        z-index: 100;
    }

    .navbar .navbar-nav > .nav-item a.nav-link.heart {
        padding: 0 25px;
        z-index: 100;
    }

    .arrow,.heart{
        visibility:visible;
    }

    .navbar-collapse.collapse.show + .d-flex .arrow,
    .navbar-collapse.collapse.show + .d-flex .heart {
        visibility:hidden;
    }

    .navbar-collapse + .d-flex{
        height: 35px;
    }

    .navbar {
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: space-between;
    }
    
    header{
        background-color: #004dff;
        z-index: 10;
    }
    .collapse > ul.navbar-nav {
        display: flex;
        /* margin-top: 12%; */
        flex-direction: column;
        padding-left: 0px;
        margin-bottom: 0;
        list-style: none;
    }

    .contact li{
        margin-top: 20px;
    }
    
    .navbar-toggler .d-flex a.nav-link{
        padding: 0;
        margin-right: 23px ;
    }

    .navbar-toggler .d-flex a.nav-link.heart{
        padding: 0;
        margin-right: 0 ;
    }
    
    .navbar-collapse .nav-link.home{
        margin: 75px 0 20px !important;
        padding: 0 19px !important;
    }

    .navbar-collapse .nav-link{
        margin: 20px 0;
    }
    
    .collapse.navbar-collapse{
        height: calc(651px - 83px);
    }
    
    .sale .card-body{
        padding: 30px 50px;
    }

    .sale .card-body > span.btn-warning{
        margin-bottom: 18px;
    }
    
    .sale .card-body h5.card-title{
        font-size: 24px;
        color: #000000;
        letter-spacing: -1px;
        margin-bottom: 8px;
    }
    
    .sale .card-body h6.card-rate{
        color: #004dff;
        font-size: 18px;
        margin-bottom: 9px ;
    }
    
    .sale .card-body p.card-text-address{
        font-size: 16px;
        color: #454545;
        margin-bottom: 10px;
    }
    
    .sale .card-body .card-text span:nth-of-type(1)::before{
        content: url("../images/bed.svg");
        width: 30px;
        margin-right:10px;
    }   
    .sale .card-body .card-text span:nth-of-type(2)::before{
        content: url("../images/bathtub.svg");
        width: 30px;
        margin-right:0;
        
    }
    .sale .card-body .card-text span:nth-of-type(3)::before{
        content: url("../images/sq.svg");
        width: 30px;
        margin-right:8px;
        vertical-align: bottom;
    }
    
    .sale .card-body .card-text span:nth-of-type(3){
        margin-right: 0;
    }
    
    .sale .card-body .card-text span{
        font-size: 14px;
        color: #454545;
        opacity: 70%;
        margin-right: 10px;
    }
    
    .sale .user-card .card-body .user-details-wrapper{
        margin-left: 20px;
    }

    .sale .user-card .card-body .user-details-wrapper p{
        font-size: 14px;
    }

    .sale .user-card .card-body .user-details-wrapper span{
        font-size: 12px;
        color: #454545;
        opacity: 70%;
    }
    
    .sale .user-card .card-body .d-flex{
        justify-content: center;
    }

    .sale .user-card .card-body .d-flex + .col-lg-4{
        line-height: 3;
    }
    
    .sale .user-card .card-body .d-flex + .col-lg-4 > .contact-us{
        width: 100px;
        height: 40px;
        line-height: 2;
        margin-top: 20px;
    }
    
    .sale .user-card{
        margin: 10px 0 0;
    }
    
    .sale .user-card .card-body{
        padding: 20px 50px;
    }
}

@media (max-width: 1103px) { 

    .hero .hero-content{
        color: #ffffff;
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        margin: 0 auto;
    }    
}

@media (max-width: 450px) {
    .properties h2,
    .client-slider h2{
        font-size: 24px !important;
    }
}

@media (max-width: 400px) {

    .sale .card-body{
        padding:20px 20px;
    }
    .sale .user-card .card-body {
        padding: 20px 20px;
    }

    .sale .card-body .card-text span {
        font-size: 12px;
        color: #454545;
        opacity: 70%;
        margin-right: 5px;
    }
   
    .contact li h2{
        font-size: 24px !important;
    }    

    .contact li p{
        font-size: 14px !important;
    }    
}


@media (max-width: 525px) {
 
    .navbar-collapse + .d-flex > ul{
        width: 130px;
        justify-content: flex-end;
    }

    a.navbar-brand > img{
        width: 130px !important;
    }

    .navbar-collapse li.nav-item a.nav-link{
        padding: 0 !important;
    }
 
}

@media (max-width: 360px) {
    
    .navbar-collapse + .d-flex > ul{
        width: 100px;
        justify-content: flex-end;
    }
    a.navbar-brand > img{
        width: 125px !important;
    }

    .navbar-collapse li.nav-item a.nav-link{
        padding: 0 !important;
        font-size: 13px !important;
    }
 
}