@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}

.btn-primary,.bg-primary{
    background-color:#004dff !important;
}

.btn-success{
    background-color: #1dc679 !important;
}

.btn-warning{
    background-color: #ff9f00 !important;
}

.navbar .navbar-nav > .nav-item > .nav-link{
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 0 15px;
}

.hero{
    position: relative;
    color: white;
}

.hero > img{
    width: 100%;
}

.hero .hero-content{
    max-width: 635px;
    position: absolute;
    top: 50%;
    transform: translate(20%,-50%);
}

.hero .hero-content h1{
    font-size: 44px;
}

.hero .hero-content p{
    font-size: 18px;
}

.hero .hero-content input{
    padding: 10px;
}

.btn-outline-secondary.dropdown-toggle.show:focus,.btn-outline-secondary:focus,.form-control:focus {
    box-shadow: none;
}

.btn-outline-secondary.dropdown-toggle.show,.btn-outline-secondary:hover{
    background-color: #ffffff;
    color: grey;
    border-left: 1px solid grey;
}

.hero .hero-content input::placeholder{
    font-size: 14px;
}

.dropdown-toggle , .hero .hero-content input{
    background-color: #ffffff;
    border-radius: 8px 8px;
    font-size: 14px;
    padding: 10px;
}

.dropdown-toggle{
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.dropdown-toggle::after {
    border: 0 !important;
}

.feature a{
    text-decoration: none;
}

.feature h2.fw-bold{
    font-size: 32px;
    letter-spacing: -1;
}

.card .card-img-top{
    object-fit: cover;
    aspect-ratio: 1/.7;
}

.card-title{
    color: #454545;
    font-size: 18px;
    font-weight: 400;
}

.card-body{
    padding: 20px;
}

.card-rate{
    color: #004dff;
    font-size: 18px;
    font-weight: 700;
}

.card-text-address{
    color: #454545;
    font-size: 14px;
    font-weight: 400;
}

.card-text-details span{
    font-size: 14px;
    color: #454545;
    font-weight: 400;
    padding: 8px;
}

.card.card-bg-gray{
    background-color: #f6f7f9;
}

.card.card-bg-gray > .card-body > h5.card-title-information,
.card > .card-body > h5.card-title-information{
    font-size: 44px;
}

.card.card-bg-gray > .card-body p{
    font-size: 18px;
    color: #454545;
    font-weight: 400;
}

.card > .card-body  a.btn-success{
    font-size: 14px;
}

.details-section{
    background:url('images/house.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 700px;
}

.card > .card-body > .btn-warning + .card-title{
    font-size: 32px;
    color: #000000;
}

.card > .card-body > .btn-warning + .card-title + .card-rate{
    font-size: 24px;
}

.card > .card-body > .btn-warning + .card-title + .card-rate + .card-text-address,
.card > .card-body .user-details > p{
    font-size: 18px;
    color: #454545;
}

.card > .card-body > .btn-warning span{
    font-size: 14px;
    color: #454545;
}

.card > .card-body .user-details > p + span{
    font-size: 14px;
    color: #454545;
    opacity: 70%;
}

footer{
    background-color: #f6f7f9;
}

footer p{
    font-size: 14px;
    color: #454545;
}

/* tablet - md */

@media (max-width: 768px) { 
    .hero .hero-content{
        max-width: 635px;
        position: absolute;
        top: 50%;
        transform: translate(10%,-50%);
    }

    .card.card-bg-gray > .card-body > h5.card-title-information,
    .card > .card-body > h5.card-title-information{
        font-size: 28px;
    }

    .card.card-bg-gray > .card-body p{
        font-size: 14px;
        color: #454545;
        font-weight: 400;
    }
}

/* small - sm */

@media (max-width: 576px) {
    .hero .hero-content{
        max-width: 635px;
        position: absolute;
        top: 50%;
        transform: translate(0,-50%);
    }

    .hero .hero-content h1{
        font-size: 24px;
    }
    
    .hero .hero-content p{
        font-size: 12px;
    }
    .hero .hero-content input{
        padding: 8px;
    }
    
    .hero .hero-content input::placeholder{
        font-size: 12px;
    }
    
    .dropdown-toggle , .hero .hero-content input{
        background-color: #ffffff;
        border-radius: 8px 8px;
        font-size: 12px;
        padding: 8px;
    }
        
    .card.card-bg-gray > .card-body > h5.card-title-information,
    .card > .card-body > h5.card-title-information{
        font-size: 24px;
    }

    
    .card.card-bg-gray > .card-body p{
        font-size: 14px;
        color: #454545;
        font-weight: 400;
    }
}

